body {
    font-family: "Arial", sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
    gap: 0;
}
.cell {
    font-family: "Arial", sans-serif;
    height: 100px;
    width: 100px;
    border: 1px solid white;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}

button {
    margin-top: 3vh;
    width: 8rem;
    height: 2.5rem;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 0.5rem;
}

button:active {
    border: 2px solid yellow;
    color: yellow;
    font-weight: bold;
}

@media screen and (min-width: 960px) {
    .game--container {
        width: 33vw;
    }
    .cell {
        display: flex;
        height: 11vw;
        width: 11vw;
        font-size: 9vw;
        align-items: center;
        justify-content: center;
    }

    button:hover {
        color: yellow;
        border: 2px solid yellow;
    }
}
